<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- Un valor diferente por servidor / slot / transform
    <add key="BASE_URL"    value="" /> -->
  </appSettings>
  <system.webServer>

    <!-- 2-a · Redirige todas las rutas de SPA a index.html -->
    <rewrite>
      <rules>
        <rule name="React-SPA" stopProcessing="true">
          <!-- Coincide con cualquier URL -->
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Excluye archivos y carpetas físicas -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- Responde con /index.html -->
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
	  
    </rewrite>

    <!-- 2-b · (Opcional) Cache agresivo para assets fingerprinted -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge"
                   cacheControlMaxAge="365.00:00:00" />
    </staticContent>

  </system.webServer>
</configuration>
