<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="SqlConexion" value="Server=DANNY;Database=IAMDB;User Id=QA_USER;Password=qa123456789;TrustServerCertificate=True;" />
    <add key="AesKey" value="123456789abcdefghijklmnñopqrstw" />
    <add key="JwtKey" value="abcdefgh12345678qwertyuioplkjhgf" />
    <add key="JwtIssuer" value="Usuarios" />
    <add key="JwtAudience" value="QA" />
    <add key="SesionDaysExpiration" value="7" />
    <add key="AzureKey" value="j8ZAorQQCCvbhz2BOlaTGmBLvxbLMWQ4Jmzlk3uEvaXOdamSPMRFJQQJ99BEACHYHv6XJ3w3AAAAACOG59RW" />
    <add key="AzureRegion" value="eastus2" />
  </appSettings>
</configuration>
