#root {
  display: contents;
}

/* Para el chat */
/* styles.css */
.my-responsive-scroll {
  /* Móvil/XS–MD: no scroll interno */
  max-height: none;
  overflow: visible;
}

@media (min-width: 992px)

/* lg en Bootstrap */
  {
  .my-responsive-scroll {
    /* Grande: altura fija y scroll interno */
    max-height: 400px;
    /* ajusta a lo que necesites */
    overflow: auto;
  }
}

table.dataTable thead th {
  /* text-align: center; */
  font-weight: 600;

}

.table {
  width: auto;
}

.table-hover tbody tr:hover {
  background-color: #009EF7 !important;
  color: #fff !important;
}

.table th, .table td {
  padding: 0.5rem;
  /* Reduce el padding */
  font-size: 0.9rem;
  /* Reduce tamaño de fuente */
}

.shadowBackground {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  /* Fondo semitransparente */
  backdrop-filter: blur(5px);
  /* Efecto de desenfoque */
  border-radius: 10px;
  /* Bordes redondeados */
  padding: 20px;
  /* Espaciado interno */
}

