.custom-password .ant-input-password {
    position: relative;
}

.custom-password .ant-input-password:not(.ant-input-password-show) .ant-input {
    /* Selecciona los puntos generados por Ant Design cuando la contraseña está oculta */
    -webkit-text-security: disc;
    /* Para WebKit browsers */
    text-security: disc;
    /* Para otros browsers */
}

/* Animación para los puntos */
.custom-password .ant-input-password:not(.ant-input-password-show) .ant-input::after {
    content: "•";
    position: absolute;
    animation: dotAnimation 1.5s infinite;
    opacity: 0;
    pointer-events: none;
    /* Evita interferencia */
}

/* Asegura que el input siga funcional */
.custom-password .ant-input {
    position: relative;
    z-index: 2;
    opacity: 1 !important;
    pointer-events: auto !important;
}

@keyframes dotAnimation {
    10%, 90% {
        opacity: 0;
    }

    40%, 60% {
        opacity: 1;
    }
}