.custom-button:hover {
    transform: scale(1.2);
    /* transform: translate(-10px, -20px); */
    /* transform: rotate(10deg); */
    /* transform: matrix(0, 1, 1, 0, 0, 0); */
    /* transform: skew(-10deg, -10deg); */


}

.custom-button:active {
    background-color: #003f7f;
    transform: scale(0.95);
}

.custom-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}